<aside id="nb-sidebar">
    
    <!-- Top hole punch -->
        <button class="nb-hole" title="Toggle light/dark mode" id="nb-mode-toggle-top"></button>

    <nav>
        <div class="nb-nav-gap" style="height: var(--lh);"></div>
        <a href="/web/dashboard" class="{{ 'nb-active' if active_page == 'dashboard' else '' }}">
            Dashboard
        </a>
        <a href="/web/profile" class="{{ 'nb-active' if active_page == 'profile' else '' }}">
            Profile
        </a>
        <a href="/web/routine" class="{{ 'nb-active' if active_page == 'routine' else '' }}">
            Routine
        </a>
        <a href="/web/exercises" class="{{ 'nb-active' if active_page == 'exercises' else '' }}">
            Exercises
        </a>
        <a href="/web/calendar" class="{{ 'nb-active' if active_page == 'calendar' else '' }}">
            Calendar
        </a>
        <a href="/web/logwod" class="{{ 'nb-active' if active_page == 'logwod' else '' }}">
            Log WOD
        </a>

        <!-- Bottom hole punch -->
        <button class="nb-hole" title="Toggle light/dark mode" id="nb-mode-toggle-bottom"></button>
    </nav>
</aside>