body {
    background-color: #171717;
    /*background-color: var(--main-background);*/
    min-height: 100vh;
}


/* Control logo size */
.col img {
    max-width: 300px;
    margin: 0 auto;
}


/* Reduce top spacing for auth pages */
.paper.container {
    margin-top: 1rem;
}


/* Add padding to the row */
.row {
    padding: 0 2rem;
}
